* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(244, 94, 94);
    text-align: center;
}
h1{
    text-align: center;
    
}
p{
    font: normal 30px Arial;
    text-align: center;
    color: rgb(235, 232, 232);
}
h2{
   text-align: center; 
   color: black;
   font: normal 30px Arial;
}
input{
    background-color: black;
    color: white;
    padding: 10px;
    
}

.alternativa {
    display: block;
    width: 90px;
    margin: 10px;
    height: 55px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
   
    
}
